{% extends 'base.html' %}

{% block title %}Assistance List{% endblock  %}

{% block custom_css %}

{% endblock  %}
{% block content_title %}
<h1 class="mt-5"> List Assistance Type </h1>
{% endblock  %}

{% block content %}

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped table-hover ">
              <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Create At</th>
                    <th scope="col">Update At</th>
                    <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
{#                {% for ass in assistanceType %}#}
{#                    <tr>#}
{#                        <td>{{res.icNo}}</td>#}
{#                        <td>{{res.name}}</td>#}
{#                        <td>{{res.phone}}</td>#}
{#                        <td>{{res.age}}</td>#}
{#                        <td><a href="{% url "edit-data" res.icNo %}"><button class="btn" type="button" style="background-color: darkgrey"><i class="bi bi-pencil"></i></button></a></td>#}
{#                    </tr>#}
                {% for ass in assistanceType %}
                    <tr>
                        <td>{{ ass.id }}</td>
                        <td>{{ ass.name }}</td>
                        <td>{{ ass.description }}</td>
                        <td>{{ ass.created_at }}</td>
                        <td>{{ ass.updated_at }}</td>
                        <td><a href="{% url "edit_assistance_type" ass.id %}"><button class="btn" type="button" style="background-color: darkgrey"><i class="bi bi-pencil"></i></button></a></td>
                    </tr>
                {% endfor%}
              </tbody>
            </table>
        </div>
    </div>

{% endblock  %}