{% extends 'base.html' %}

{% block title %}Assistance List{% endblock  %}

{% block custom_css %}

{% endblock  %}
{% block content_title %}
<h1 class="mt-5"> Assistance Applied Record </h1>
{% endblock  %}

{% block content %}

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped table-hover ">
              <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Ic Number</th>
                    <th scope="col">Assistance Type</th>
                    <th scope="col">Victim Number</th>
                    <th scope="col">Progress Percentage</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for assistance in assistances %}
                    <tr>
                        <td>{{ assistance.user_id }}</td>
                        <td>{{ assistance.user.first_name }} {{ assistance.user.last_name }}</td>
                        <td>{{ assistance.user.ic }}</td>
                        <td>{{ assistance.assistance_type }}</td>
                        <td>{{ assistance.victim_number }}</td>
                        <td>{{ assistance.progress_percentage }}%</td>
                        <td>{% if  not assistance.assistance_given_date  %}
                                not given
                            {% else %}
                                {{ assistance.assistance_given_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if assistance.is_approved  %}
                            Approved
                            {% else %}
                            not yet approved
                            {% endif %}
                        </td>
                        <td><a href="{% url "edit_assistance_type" assistance.id %}"><button class="btn" type="button" style="background-color: darkgrey"><i class="bi bi-pencil"></i></button></a></td>
                    </tr>
                {% endfor%}
              </tbody>
            </table>
        </div>
    </div>

{% endblock  %}