{% extends "base.html" %}

{% block title %}
    {{ victim.ic_no }}
{% endblock %}

{% block content %}

    <style>
        .btn:hover {
            box-shadow: 0 0 20px 10px hsla(0, 0%, 50%, 0.5);
            color: #fff;
            background: #000;
            border: 0;
        }

    </style>
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10" style="background: white; border: 2px solid; border-radius: 5px;">
            <div class="row mt-5 text-center"><h3>Victim Application</h3></div>
            <form action="" method="post" enctype="multipart/form-data" name="trackstatus"
                  onSubmit="return formValidation();">
                {% csrf_token %}
                <div class="my-3">
                    <label for="icNum" class="form-label">Ic Number</label>
                    <input type="number" class="form-control"
                           placeholder="IC Number" id="icNum" name="icNum"
                           required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" placeholder="Phone Number" id="phone"
                           name="phone" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Ketua Isi Rumah?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
                </div>
                <div class="mb-3">
                    <label for="address1" class="form-label">Address 1</label>
                    <input type="text" class="form-control" placeholder="Address 1" id="address1"
                           name="address1" required>
                </div>
                <div class="mb-3">
                    <label for="address2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" placeholder="Address 2" id="address2"
                           name="address2" required>
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" placeholder="City" id="city"
                           name="city" required>
                </div>
                <div class="mb-3">
                    <label for="mukim" class="form-label">Mukim</label>
                    <input type="text" class="form-control" placeholder="Mukim" id="mukim"
                           name="mukim" required>
                </div>
                <div class="mb-3">
                    <label for="parlimen" class="form-label">Parlimen</label>
                    <input type="text" class="form-control" placeholder="Parlimen" id="parlimen"
                           name="parlimen" required>
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" placeholder="State" id="state"
                           name="state" required>
                </div>
                <div class="mb-3">
                    <label for="poskod" class="form-label">Poskod</label>
                    <input type="number" class="form-control" placeholder="Poskod" id="poskod"
                           name="poskod" required>
                </div>
                <div class="row mb-3">
                    <div class="col"></div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-outline-dark"
                        >Submit
                        </button>
                    </div>
                    <div class="col text-center">
                        <button type="reset" class="btn btn-outline-dark" style="width: 75px;">Reset
                        </button>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
            <div class="col text-center mb-3">
                <a href="">Back to Main Page</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

{% endblock %}
