{% extends 'base1.html' %}
{% load static %}

{% block title %}Login{% endblock  %}

{% block custom_css %}

{% endblock  %}
{% block content_title %}
<h1 class='mt-5'> Login </h1>
{% endblock  %}
{% block content %}

{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

    <!-- Body -->
    <div class="container ">
        <div class="row my-4 gx-5 gy-2">
            <div class="col-md-6">
                <img class="img-fluid" style="filter: brightness(90%)" src="{% static 'webimage/login.jpg' %}">
            </div>
            <div class="col-md-6 pt-5">
                <h3 class="mb-4 pt-3">Login</h3>
                <form method="POST" name="loginForm">
                    {% csrf_token %}
                    <div class="mb-4 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">IC</label>
                        <div class="col-sm-10">
                          <input type="number" id="ic" class="form-control" name='ic'>
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" id="password" class="form-control" id="inputPassword" name='password'>
                        </div>
                    </div>
                    <p>You dont have an account yet? <a href='{% url 'register' %}'>register here </a> </p>
                    <button type="submit" class="btn btn-primary mb-4">Login</button>

                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="main-footer position ">
        <div class="footer-middle mt-0 bg-dark text-light">
            <div class="container">
                <div class="row footer">
                    <h4 class="title1 fontsize2 footer-title-text mt-2">About Us</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-9 footer">
                        <div class="row">
                            <p style="text-align: justify">At the end of each year in Malaysia, monsoons cause frequent occurrences of natural disasters and cause floods. In addition, property loss of residents is inevitable. In response, penghulu in the district formed a post-disaster rescue team to solve the difficulties of the residents. However, with the current methods in black and white, rescue operations cannot be effective and carried out quickly.</p>
                        </div>
                        <div class="row">
                            <p style="text-align: justify">In this era of advanced technology, a system can be developed to help Penghulu and the residents to solve all their difficulties. Pusat Kawalan Operasi Bencana (PKOB) is a centralized system that can help the penghulu of a district quickly engage in post-disaster relief operations. This system not only can assist the victims quickly but also avoid the phenomenon of wasting resources. The centralized victims’ data and assistance records can help penghulu to respond faster and trace back the records. Besides that, victims can also apply for assistance through the online method, this saves effort and time compared to the traditional black and white method.</p>
                        </div>
                    </div>
                    <div class="col-md-3 footer">
                        <img src="{% static 'webimage/logo.png' %}" class="img-fluid mx-auto my-2 d-block">
                    </div>
                </div>
                <div class="footer-bottom mt-2">
                    <p class="text-xs-center footer-title-text mb-0">
                        &copy; <script>document.write(new Date().getFullYear())</script> Ninja Aid - PKOB System from Malaysia
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock  %}