{% extends 'base.html' %}

{% block title %}Register{% endblock  %}

{% block custom_css %}

{% endblock  %}
{% block content_title %}
<h1 class='mt-5'> Register </h1>
{% endblock  %}
{% block content %}

{% for msg in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<form method="POST" class="form-group">
    {% csrf_token %}
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">IC</label>
        <div class="col-sm-10">
          <input type="number"  class="form-control" name='ic'>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">first name</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" name='first_name'>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">last name</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" name='last_name'>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" name='password'>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label"> Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" name='confirm_password'>
        </div>
    </div>   
    <p>Already have an account already? <a href='{% url 'login' %}'>login here </a> </p>
    <button type="submit" class="btn btn-primary">Register</button>

</form>

{% endblock  %}