{#This Page is for penghulu to view victim list, and also their bantuan.#}
{#With this page, penghulu can also update victim's bantuan, and delete victim's bantuan too#}
{% extends "adminbase.html" %}
{% block title %}
Victim List
{% endblock %}
{% block custom_css %}

{% endblock %}
{% block content_title %}
<h1 class="mt-5"> Victim List </h1>
{% endblock  %}
{% block content %}

    <div class="container">
        <div class="row mt-4">
            <h1 class="text-center mb-3">Victim List</h1>
            <div class="col">
                <table id="example" class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Victim Name</th>
                            <th>Ic Number</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Bandar</th>
                            <th>Mukim</th>
                            <th>Parlimen</th>
                            <th>Negeri</th>
                            <th>Total assistance request</th>
                            <th>action</th>
                            {% comment %} <th>Progress Percentage(%)</th>
                            <th>Status</th>
                            <th>Action</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for victim in victims %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{victim.name}}</td>
                            <td>{{victim.ic}}</td>
                            <td>{{victim.phone}}</td>
                            <td>{{victim.address1}}, {{victim.address2}}</td>
                            <td>{{victim.city}}</td>
                            <td>{{victim.mukim}}</td>
                            <td>{{victim.parlimen}}</td>
                            <td>{{victim.state}}</td>
                            <td>{{victim.assistance_list.count}}</td>
                            <td><a href="{% url 'view_victim_assistance' victim.id %}">view request assistances</a></td>
                            <td><a href="{% url 'edit_profile' victim.id %}">edit victim</a></td>
                            <td><a href="{% url 'delete_profile' victim.id %}">delete victim</a></td>
                            <td><a href="{% url 'request_assistance' victim.id %}">add request assistance</a></td>
                        </tr>
                        {% endfor %}
                        {% comment %} <tr>
                            <td>1</td>
                            <td>Tan Yi Qing</td>
                            <td>991227075445</td>
                            <td>0124568887</td>
                            <td>Rumah</td>
                            <td>Seberang Perai</td>
                            <td>Bukit Mertajam</td>
                            <td>Tokun</td>
                            <td>Food Supplement</td>
                            <td>20</td>
                            <td>80</td>
                            <td>Good</td>
                            <td><a href=""><button class="btn" type="button" style="background-color: darkgrey"><i class="bi bi-pencil"></i></button></a></td>
                        </tr> {% endcomment %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" class="init">
    $(document).ready( function (){

        var events = $('#events');
        var table = $('#example').DataTable( {
            select: true,
            "pagingType": "full",
        })
    });
    </script>
{% endblock %}
{% block custom_js %}

{% endblock %}