{#This Page is for penghulu to view victim list, and also their bantuan.#}
{#With this page, penghulu can also update victim's bantuan, and delete victim's bantuan too#}
{% extends "adminbase.html" %}
{% block title %}
{{ victim.first_name }}
{% endblock %}
{% block custom_css %}

{% endblock %}
{% block content_title %}
<h1 class="mt-5"> {{ victim.first_name }} {{ victim.last_name }}</h1>
{% endblock  %}
{% block content %}

    <div class="container">
        <div class="row mt-4">
            <h1 class="text-center mb-3">{{ victim.first_name }}</h1>
            <div class="col">
                <table id="example" class="table table-striped">
                    <thead>
                        <tr>
                            <th>assistance id</th>
                            <th>Ic Number</th>
                            <th>Phone</th>
                            <th>Total Victim</th>
                            <th>assistance type</th>
                            <th>remark</th>
                            {% comment %} <th>progress percentage</th> {% endcomment %}
                            <th>status</th>
                            {% comment %} <th>approved</th> {% endcomment %}
                            <th>action</th>
                            {% comment %} <th>Progress Percentage(%)</th>
                            <th>Status</th>
                            <th>Action</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for assistance in victim_assistance_list %}
                        <tr>
                            <td>{{ assistance.id }}</td>
                            <td>{{victim.ic}}</td>
                            <td>{{victim.profile.phone}}</td>
                            <td>{{assistance.victim_number}}</td>
                            <td>{{assistance.assistance_type.name}}</td>
                            <td>{{assistance.remark}}</td>
                            <td>{% if assistance.is_approved %}approved {% else %} not approved{% endif %}</td>
                            <td>
                                <form action="" method="post" class='m-2'>
                                    {% csrf_token %}
                                    <input type="hidden" name="assistance_id" value='{{ assistance.id }}'>
                                    <button class="btn btn-primary">{% if assistance.is_approved %}disapprove {% else %} approve{% endif %}</button>
                                </form>
                                <form action="{% url 'delete_victim_assistance' victim.id %}" method="post" class='m-2'>
                                    {% csrf_token %}
                                    <input type="hidden" name="assistance_id" value='{{ assistance.id }}'>
                                    <button class="btn btn-danger">delete</button>
                                </form>
                                <a class='m-2 btn btn-info text-white' href="{% url 'edit_victim_assistance' victim.id assistance.id %}">edit</a>
                            </td>
                          
                        </tr>
                        {% endfor %}
                        {% comment %} <tr>
                            <td>1</td>
                            <td>Tan Yi Qing</td>
                            <td>991227075445</td>
                            <td>0124568887</td>
                            <td>Rumah</td>
                            <td>Seberang Perai</td>
                            <td>Bukit Mertajam</td>
                            <td>Tokun</td>
                            <td>Food Supplement</td>
                            <td>20</td>
                            <td>80</td>
                            <td>Good</td>
                            <td><a href=""><button class="btn" type="button" style="background-color: darkgrey"><i class="bi bi-pencil"></i></button></a></td>
                        </tr> {% endcomment %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" class="init">
    $(document).ready( function (){

        var events = $('#events');
        var table = $('#example').DataTable( {
            select: true,
            "pagingType": "full",
        })
    });
    </script>
{% endblock %}
{% block custom_js %}

{% endblock %}