{% extends 'base1.html' %}
{% load static %}

{% block title %}Home Page{% endblock  %}
{% block custom_css %}
    <style>
        .shine{
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #ffffff;
            background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
            background-position: 0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 20s ;
            animation-fill-mode: forwards;
            -webkit-text-size-adjust: none;
            font-weight: 500;
            font-size: 50px;
            text-decoration: none;
            white-space: nowrap;
        }

        .outer-container{
            height: 100vh;
            width: 100vw
        }

        .container{
            position: absolute;
            top: 50%;
            left: 22%;
            width: 35vw;
            text-align: justify;
        }

        @keyframes shine{
            0%{
               background-position: 0px
            }
            60% {
                background-position: 780px
            }
            100% {
                background-position: 950px;
                animation: ease-in-out;
                -webkit-text-fill-color: white;

            }
        }
        @-moz-keyframes shine{
            0%{
               background-position: 0px
            }
            60% {
                background-position: 780px
            }
            100% {
                background-position: 950px;
                animation: ease-in-out;
                -webkit-text-fill-color: white;

            }
        }
        @-webkit-keyframes shine{
            0%{
               background-position: 0px
            }
            60% {
                background-position: 780px
            }
            100% {
                background-position: 950px;
                animation: ease-in-out;
                -webkit-text-fill-color: white;

            }
        }
        @-o-keyframes shine{
            0%{
               background-position: 0px
            }
            60% {
                background-position: 780px
            }
            100% {
                background-position: 950px;
                animation: ease-in-out;
                -webkit-text-fill-color: white;

            }
        }
        @-ms-keyframes shine{
            0%{
               background-position: 0px
            }
            60% {
                background-position: 780px
            }
            100% {
                background-position: 950px;
                animation: ease-in-out;
                -webkit-text-fill-color: white;

            }
        }

        .shine:after{
            content: "";
            animation: spin 25s 1 forwards;
        }

        @keyframes spin{
            0% { content:"PUSAT KAWALAN OPERASI BENCANA";}
            100% { content:"PUSAT KAWALAN OPERASI BENCANA (PKOB)";}
        }
        @-moz-keyframes spin{
            0% { content:"PUSAT KAWALAN OPERASI BENCANA"; }
            100% { content:"PUSAT KAWALAN OPERASI BENCANA (PKOB)";}
        }
        @-webkit-keyframes spin{
            0% { content:"PUSAT KAWALAN OPERASI BENCANA"; }
            100% { content:"PUSAT KAWALAN OPERASI BENCANA (PKOB)";}
        }
        @-o-keyframes spin{
            0% { content:"PUSAT KAWALAN OPERASI BENCANA"; }
            100% { content:"PUSAT KAWALAN OPERASI BENCANA (PKOB)";}
        }
        @-ms-keyframes spin{
            0% { content:"PUSAT KAWALAN OPERASI BENCANA"; }
            100% { content:"PUSAT KAWALAN OPERASI BENCANA (PKOB)";}
        }

        @media screen and (min-width: 769px) {
            .shine {
                font-size: 50px;
            }
        }
        @media screen and (max-width: 768px) {
            .shine {
                font-size: 20px;
            }
        }
        @media screen and (max-width: 320px) {
            .shine {
                font-size: 15px;
            }
        }

    </style>
{% endblock  %}
{% block content_title %}
<h1 CLASS="mt-5"> PUSAT KAWALAN OPERASI BENCANA</h1>
{% endblock  %}
{% block content %}
    <div class="outer-container">
        <img style ="width:100%; height: 100%; object-fit: cover; position: relative" src="{% static 'webimage/kedahview.png' %}" autoplay muted loop></img>
        <div class="outer-container" style="background: rgba(0,0,0, 0.3);position: absolute;top: 0% "></div>
        <h1 style="color: white" class="shine"></h1>
        <div class="container">
            <h2 style="color: white">We provide house repairs, new house contruction, monthly, assistance and food supplies for victims in Kedah.</h2>
        </div>
    </div>
    <div style="height: 100px">

    </div>
{% endblock  %}