<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PKOB</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user"
                    >user</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "request-assistance" %}"
                    >add user</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "list_assistance_type" %}"
                    >list user</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "add_profile" %}"
                    >add profile</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "list_user" %}"
                    >list victim</a
                    >
                </li>
            </ul>
        </div>
    </div>

</nav>